body {
  margin: 0;
  padding: 0;
  background-color: #cfd8dc;
  font-family: "Yeon Sung", cursive;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main {
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: center;
  background-color: #9ea7aa;
  padding: 15px;
  font-family: "Gugi", cursive;
}

.main__home {
  font-size: 60px;
}

.your-class {
  position: relative;
  top: 120px;

  text-align: center;
  background-color: #ffffff;
  border-radius: 80px;
  display: flex;
  font-size: 20px;
  max-width: 951px;
  margin: auto;
  padding: 34px 34px 24px 34px;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

.slick-arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 33px;
  height: 33px;
  border-radius: 40%;
  background: rgba(0, 0, 0, 0.3);
  transform: translateY(-25px);
  border: none;
}

.slick-prev.slick-arrow {
  left: 0;
  color: rgba(0, 0, 0, 0.7);
}

.slick-next.slick-arrow {
  right: 0;
  color: rgba(0, 0, 0, 0.7);
}

.your-class video {
  width: 100%;
  border-radius: 50px;
}

.your-class iframe {
  width: 100%;
  border-radius: 50px;
}

.maokai {
  color: red;
}

.slick-dots {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 16px;
}
.slick-dots li.slick-active button {
  border: 5px solid #00ac9f;
  border-radius: 40%;
}
.slick-dots li.slick-active button:before {
  color: transparent;
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
