body {
  margin: 0;
  padding: 0;
  background-color: #81d4fa;
  font-family: "Indie Flower", cursive;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #4ba3c7;
  padding: 22px;
  z-index: 2;
}

.main__home i {
  padding: 0 10px;
  font-size: 25px;
  color: #b5ffff;
}

.main__home {
  font-size: 40px;
}

.Title__Video {
  text-align: center;
}

.Title__Tip {
  padding: 20px;
  background-color: #4ba2c6;
  font-size: 23px;
  font-family: "Bangers", cursive;
  border-top: solid 1px #b5ffff;
  border-bottom: solid 1px #b5ffff;
}

.Title__Tip i {
  padding: 0 5px;
}
.your-class {
  position: relative;
  top: 70px;
  background-color: #b5ffff;
  border-radius: 80px;
  display: flex;
  font-size: 20px;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.your-class img {
  display: flex;
  height: calc(50vh - 100px);
  width: 70%;
  border-radius: 60%;
  background-color: rgba(0, 0, 0, 0.3);
}

.your-class .sieyn {
  border: 5px solid gold;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}
.your-class .jisoo {
  border: 5px solid #32cb93;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}

.your-class .gd {
  border: 5px solid gold;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}
.your-class .dyup {
  border: 5px solid #32cb93;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}

.your-class .bodam {
  border: 5px solid #32cb93;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}
.slick-arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 33px;
  height: 33px;
  border-radius: 40%;
  background: rgba(0, 0, 0, 0.3);
  transform: translateY(-25px);
  border: none;
}

.slick-prev.slick-arrow {
  left: 0;

  color: rgba(0, 0, 0, 0.7);
}

.slick-next.slick-arrow {
  right: 0;

  color: rgba(0, 0, 0, 0.7);
}

.slick-slider {
  margin: 0 -15px;
  margin: auto;
}
.slick-slide {
  padding: 10px;
  text-align: center;

  margin-left: 100px;
}

.ml14 {
  font-weight: 200;
  font-size: 3.2em;
  font-family: "Bangers", cursive;
  color: red;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}
