body {
  margin: 0;
  padding: 0;
  background-color: #cfd8dc;
  font-family: "Gugi", cursive;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #9ea7aa;
  padding: 15px;
  z-index: 2;
}

.main__home {
  font-size: 60px;
}

.Title__Video {
  text-align: center;
}

.Title__Tip {
  padding: 20px;
  background-color: #4ba2c6;
  font-size: 23px;
  font-family: "Bangers", cursive;
  border-top: solid 1px #b5ffff;
  border-bottom: solid 1px #b5ffff;
}

.Title__Tip i {
  padding: 0 5px;
}
.your-class {
  position: relative;
  top: 70px;
  background-color: #ffffff;
  border-radius: 80px;
  display: flex;
  font-size: 20px;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.your-class img {
  display: flex;
  height: calc(50vh - 100px);
  width: 70%;
  border-radius: 60%;
  background-color: rgba(0, 0, 0, 0.3);
}

.your-class .sieyn {
  border: 5px solid gold;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}
.your-class .jisoo {
  border: 5px solid #32cb93;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}

.your-class .gd {
  border: 5px solid gold;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}
.your-class .dyup {
  border: 5px solid #32cb93;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}

.your-class .bodam {
  border: 5px solid #32cb93;
  box-shadow: 0 0 5px black, 0 0 7px white inset;
}
.slick-arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 33px;
  height: 33px;
  border-radius: 40%;
  background: rgba(0, 0, 0, 0.3);
  transform: translateY(-25px);
  border: none;
}

.slick-prev.slick-arrow {
  left: 0;

  color: rgba(0, 0, 0, 0.7);
}

.slick-next.slick-arrow {
  right: 0;

  color: rgba(0, 0, 0, 0.7);
}

.slick-slider {
  margin: 0 -15px;
  margin: auto;
}
.slick-slide {
  padding: 10px;
  text-align: center;

  margin-left: 100px;
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
